<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ITWebImageDemo0121.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>927561631C5080CD00674F3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9275617C1C5080CD00674F3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>927561871C5080CD00674F3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
